* {
    font-family: 'Courgette', cursive;
	letter-spacing: 1px;
}

#title {
	font-size: 70px;
}

.rounded {
	border-radius: 10px !important;
}

.container-padding {
    padding-left: 100px;
    padding-right: 100px;
}