body {
    background-color: #3e3d50;
}

.bar {
    background-color: #131862;
}

.item-box {
    position: relative;
    color: white;
}

.item-box-text {
    font-size: 15px;
    position: absolute;
    top: 8px;
    left: 16px;
}