body {
    background-color: #3f3d6b;
}

.bar {
    background-color: #131862;
}

/* .test {
    background: url("../../img/Lighthouse.jpg") no-repeat center center fixed;
    background-size: cover;
    height:500px;
} */